@import "tailwindcss";

/* Dark mode por clase (para el toggle manual) */
@variant dark (&:where(.dark, .dark *));

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
}
